@font-face {
    font-family: 'Squada One';
    src: url('SquadaOne-Regular.eot');
    src: url('SquadaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('SquadaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

